<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-5">
      <h1 class="text-center">Libros</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-3">
      <p class="text-center">
        Buy books online from independent sellers around the world. 
        Fill your bookshelves with used books, the latest bestsellers, collectible books such as first editions and signed copies and forgotten out-of-print titles from years gone by.
      </p>
    </div>
  </div>

  <div class="row p-3 mb-2 bg-light">
    <div class="col">
      <h3 class="text-center mt-5 mb-5">¿Qué Libro estás buscando?</h3>
      <%= render 'books/search_bar' %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3 class="mt-5 mb-5">Más recientes</h3>
    </div>
  </div>
</div>